<div class="container">
  <nav>
    <a class="me-2" routerLink="/books" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
    <a class="me-2" [routerLink]="['/books', 'create']" routerLinkActive="active">Erstellen</a>
    <a class="me-2" [routerLink]="['/books', 'search']" routerLinkActive="active">Suche</a>
  </nav>

  <h1>{{ title }}</h1>

  <router-outlet></router-outlet>
</div>

<!--
  TODO:
    - Redirect vom Root-Pfad
    - Links
    - Detailseite
      - ISBN aus der Route auslesen
      - HTTP
      - anzeigen
    - Lazy Loading mit Präfix
-->
